header 
{
    display: flex;
}

header div 
{
    display: inline-block;
    margin:auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    align-items: center;
}

.pageName
{
    width:80%;
}

.headerOptions{
    width: 20%;
    background-color: lightcoral;
}

content div 
{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.imputs form 
{
  margin-top: 10px;
  margin-bottom: 5px;
}

.imputs label 
{
  width: 12%;
}

.imputs input 
{
  width: 88%;
}

.passwordDiv
{
  display: flex;
}

#password 
{
  width: 60%;
  align: save;
}

.generateButton
{
  width: 10%;
}

#description
{
  width: 100%;
  height: 100px;
}