
#ventana{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}
.tituloBotones{
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categoriaSite{
    width: 100%;
    height: auto;
    background-color: lavenderblush;

}
.btCategroia {
    font-size: small;
    color: blue;
}
.btSite{

}
.menuCategorias{
    width: 100%;
    height: auto;
    background-color: lavender;

}
.tablasInformacion{
    width: 100%;
    height: auto;
    background-color: lightcyan;

}
.popupNuevaCategoria{
    width: 100%;
    height: auto;
    background-color: aquamarine;

}